body, html
{
    margin: 10px;
    font-family: Arial;
    font-size: 12px;
    height: 100%;
}

.appControler
{
    height: 100%;
}

.wallContainer
{
    height: auto;
}

.masonry
{
    width: 100%;
    clear: both;
    margin: 0 auto;
}

.masonry-item {
    margin: 10px;
    float: left;
    border: solid 1px;
}

.topic-item {
    width: 240px;
    height: 180px;
    background: lightblue;
    font-size: 24px;
    font-weight: bold;
}

.searchTagElement
{
    display: inline-block;
    background: lightslategrey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    /*opacity: 0;*/

    -webkit-transition: 1s ease background-color;
       -moz-transition: 1s ease background-color;
        -ms-transition: 1s ease background-color;
         -o-transition: 1s ease background-color;
            transition: 1s ease background-color;

}

.searchTagElement.activate
{
    background-color: lightslategrey;
}

.searchTagElement.desactivate
{
    background-color: lightsalmon;
}

.masonry-item img
{
    height: auto;
}

.labelItem {
    max-width: 200px;
}

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-item {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.transitions-enabled.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-item {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
}
/*
.transitionItem-show-setup,
.transitionItem-hide-setup {
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

.transitionItem-show-setup {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}

.transitionItem-show-start {
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.transitionItem-hide-setup {
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.transitionItem-hide-start {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
*/
.searchTagElement.ng-enter,
.searchTagElement.ng-leave {
    -webkit-transition: 2s ease all;
       -moz-transition: 2s ease all;
        -ms-transition: 2s ease all;
         -o-transition: 2s ease all;
            transition: 2s ease all;
}

.searchTagElement.ng-enter.searchTagElement.ng-enter-active.searchTagElement.ng-leave {
    opacity: 1;
}

.searchTagElement.ng-leave.searchTagElement.ng-leave-active.searchTagElement.ng-enter {
    opacity: 0;
}